.banner{
    background-size: cover;
    background-position: center center;
    color:rgb(248, 236, 220);
    object-fit: contain;
    height: 880px;
    /* margin-bottom: 45px; */
}

.banner_content{
    margin-left: 40px;
    padding-top: 400px;
    height: 300px;
}

.banner_title{
    font-family:Georgia;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description{
    font-family: Arial;
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size:0.94rem;
    max-height: 360px;
    height: 80px;
}

.banner_button{
    cursor: pointer;
    color:rgb(252, 242, 227);
    outline: none;
    border: none;
    font-weight: 800;
    border-radius: 0.5vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.8);

}

.banner_button:hover{
    color:black;
    background-color: rgb(173, 172, 172) ;
    transition: all 0.2s;
}

.banner_fadeBottom{
    height: 12.5rem;
    color: rgb(2, 1, 1);
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );

}