.NavBar{
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    transition-timing-function: ease-in;
    transition: all 0.6s;

}

.NavBar_black{
    background-color:rgb(2, 1, 1)
}
.Logo{
    position: fixed;
    left: 20px;
    width: 110px;
    padding: 20px;
    object-fit: contain;
}

.account_logo{
    position: fixed;
    padding-right: 8px;
    right: 0px;
    width: 65px;
    object-fit: contain;
}