.row{
    margin-left: 20px;
    margin-top: 40px;
}

.title{
    color: #F9A51A;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;

}

.row_posters_containers{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row_posters_containers::-webkit-scrollbar{
    display: none;
}

.row_poster_img{
    object-fit: contain;
    width: auto;
    height: 180px;
    display: block;
    transition: transform 600ms;
    margin: 12px;
}
  
.row_poster_img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.row_poster_img.Large{
    height: 320px;
}

.row_poster_img.Large:hover{
    cursor: pointer;
    transform: scale(1.2);
}

